.App {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #143144;
}
.socials{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}
.title{
  font-size: 45px;
  color: white;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.social{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}
a{
  font-size: 75px;
  color: white;
  transition: all .4s;
}
a:hover{
  color: rgba(255, 255, 255, 0.555);
  transform: scale(.9);
}



